* {
	font-family: -apple-system,BlinkMacSystemFont,Roboto,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
	outline: none;
	border-spacing: initial;
}
body, html {
	padding: 0;
	height: 100%;
	margin: 0;
}
.wrapper {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
}
.column {
	width: 700px;
	padding-left: calc((100vw - 700px) / 2);
}
.control-elements {
	height: 30px;
	width: 70px;
	position: fixed;
	top: 25px;
	left: 30px;
}
.partition {
	padding-left: 12px;
	font-weight: 600;
	margin-bottom: 15px;
	margin-top: 15px;
	font-size: 18px;
}
.topic {
	margin-left: 12px;
	margin-right: 12px;
	padding-top: 12px;
	cursor: pointer;
}
.topic:hover {
	background-color: #f5f7fa;
}
.progress-bar-container {
	height: 4px;
	bottom: 0;
	width: 100%;
	margin-top: 8px;
}
.progress-bar {
	background-color: #c62828;
	width: 50px;
	height: 4px;
}
.topic-title-container {
	padding-left: 12px;
	padding-right: 12px;
}
.piece-of-paper {
	border-radius: 2px;
	box-shadow:0px 0px 41px 0px rgba(0,0,0,0.26);
	-webkit-box-shadow:0px 0px 41px 0px rgba(0,0,0,0.26);
	-moz-box-shadow:0px 0px 41px 0px rgba(0,0,0,0.26);
}
.m12b {
	margin-bottom: 12px;
}
.right-hand-side {
	float: right;
}
.crown {
	background: url(/work/ui/crown.png);
	background-size: cover;
	color: #fff;
	font-size: 16px;
	width: 18px;
}
.light-gray {
	color: #656565;
}
.vlightgray {
	color: #a7adb7;
}
.backbutton {
	color: #a7adb7;
	font-weight: 600;
	cursor: pointer;
}
.backbutton-arrow {
	background: url(/work/ui/back_arrow.png) no-repeat;
	background-size: contain;
	height: 18px;
	display: inline-block;
	width: 12px;
	vertical-align: middle;
}
.header-wrapper {
	padding: 12px;
	font-size: 18px;
}
.fw600 {
	font-weight: 600;
}
label {
	font-size: 14px;
	font-weight: 600;
	display: block;
	text-align: right;
	padding: 6px 8px;
}
.p12 {
	padding: 12px;
}
.c-wrapper {
	width: 100%;
	box-sizing: border-box;
}

.dropfield {
	color: #000;
	padding-left: 8px;
	background-color: #fff;
	border: 1px solid #d3d9de;
	padding-right: 12px;
	line-height: 30px;
	height: 30px;
	font-size: 14px;
	cursor: pointer;
	border-radius: 2px;
	font-weight: 500;
	width: 300px;
	box-sizing: border-box;
}

.dropdown-act-select {
	position: relative;
	display: inline-block;
	height: 30px;
}

.dropdown-content {
	display: none;
	position: absolute;
	right: 0;
	min-width: 300px;
	z-index: 1;
	border: 1px solid #d3d9de;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	box-sizing: border-box;
	margin-top: -1px;
	background-color: #fff;
}
.dropdown-arrow {
	background: url(/work/ui/dropdown_arrow.png) 0 50%;
	position: absolute;
	right: 11px;
	top: 12px;
	width: 11px;
	height: 7px;
}
.dropdown-elem {
	text-decoration: none;
	display: block;
	height: 30px;
	min-height: 30px;
	border-radius: 2px;
	padding-left: 8px;
	box-sizing: border-box;
	align-items: center;
	line-height: 30px;
	font-size: 14px;
}
.dropdown-elem:hover {
	background-color: #e7edf2;
}
.dropdown-act-select:hover .dropdown-content, .dropfield:focus + .dropdown-content {
	display: block; 
}
.cpointer {
	cursor: pointer;
}
.text-field {
	background-color: #fff;
	border: 1px solid #d1d5da;
	border-color: rgb(209, 213, 218);
	border-radius: 2px;
	color: #24292e;
	font-size: 14px;
	line-height: 20px;
	outline: none;
	padding: 4px 8px;
	vertical-align: middle;
	box-sizing: border-box;
	width: 100%;
	min-height: 30px;
}
.textarea {
	resize: vertical;
	width: 490px;
	min-height: 150px;
}
.lcol {
	width: 210px;
	vertical-align: top;
}
.rcol {
	width: 490px;
	float: left;
}
.word {
	border: 1px solid #d1d5da;
	border-radius: 2px;
	padding: 3px;
	background-color: #fff;
	margin-right: 3px;
	max-height: 22px;
}
.text-div {
	min-height: 30px;
}
.cross {
	background-image: url(/work/ui/cross.png);
	background-size: cover;
	width: 12px;
	height: 12px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 2px;
	cursor: pointer;
}
.container {
	border: 1px solid #d1d5da;
	border-radius: 2px;
	box-sizing: border-box;
	min-height: 60px;
}
.container-head, .container-bottom {
	box-sizing: border-box;
	padding: 4px 8px;
	min-height: 30px;
	font-size: 14px;
	line-height: 20px;
}
.container-head {
	border-bottom: 1px solid #d1d5da;
}
#wordsInputTextInput {
	display: inline-block;
	height: 20px;
}

.dialog-bkg {
	width: 100vw;
	height: 100vh;
	opacity: 0.5;
	position: fixed;
	background-color: #555;
	z-index: 2;
}
.dialog {
	background-color: #fff;
	border-radius: 2px;
	width: 500px;
	min-height: 300px;
	opacity: 1;
	z-index: 3;
	position: fixed;
	top: calc((100vh - 300px) / 2);
	left: calc((100vw - 500px) / 2);
}
.dialog-title {
	background-color: #c62828;
	color: #fff;
	padding: 12px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	font-weight: 600;
}
.dialog-content {
	box-sizing: border-box;
	height: 206px;
	width: 100%;
	overflow-y: scroll;
	padding: 12px;
}
.dialog-bottom {
	box-sizing: border-box;
	border-top: 1px solid #d0d0d0;
	height: 54px;
	padding: 12px;
}
.button-red {
	padding: 7px 16px 8px;
	margin: 0;
	font-size: 12.5px;
	display: inline-block;
	zoom: 1;
	cursor: pointer;
	white-space: nowrap;
	outline: none;
	line-height: 15px;
	text-align: center;
	text-decoration: none;
	background: none;
	background-color: #c62828;
	color: #fff;
	border: 0;
	border-radius: 4px;
	box-sizing: border-box;
}
/*.treeElem {
	padding-left: 24px;
}*/
.p0 {
	padding: 0 !important;
}
.inactive {
	background-color: #c1c1c1 !important;
	cursor: default !important;
}
.l1, .l2, .l3, .l4, .l5 {
	width: 100%;
	box-sizing: border-box;
	display: block;
	user-select: none;
}
.l1:hover, .l2:hover, .l3:hover, .l4:hover, .l5:hover, .selected {
	background-color: #dedede;
}
.l1 {
	padding-left: 12px !important;
}
.l2 {
	padding-left: 24px !important;
}
.l3 {
	padding-left: 36px !important;
}
.l4 {
	padding-left: 48px !important;
}
.l5 {
	padding-left: 60px !important;
}
.block {
	display: block;
}
.white-cross {
	float: right;
	background-image: url(/work/ui/baseline_clear_white.png);
	background-size: contain;
	height: 20px;
	width: 20px;
	display: inline-block;
	cursor: pointer;
}

/* tree */
ul, #tree {
  list-style-type: none;
}

#tree {
  margin: 0;
  padding: 0;
}

.caret {
  user-select: none;
}

.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
  transition: 0.3s;
}

.caret-down::before {
  transform: rotate(90deg); 
}

.nested {
  display: none;
}

.active {
  display: block;
}
/* end tree */
