* {
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
	outline: none;
}
body, html {
	padding: 0;
	height: 100%;
	margin: 0;
}
.wrapper {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
}
header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 60px;
	background-color: #c62828;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
span {
	color: #fff;
}
.headline-wrapper {
	padding-bottom: 12px;
	padding-top: 12px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 36px;
}
.headline-elements-container {
	padding-left: 16px;
	padding-right: 16px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex: 1 1 auto;
	font-size: 16px;
	justify-content: space-between;
	align-items: center;
	height: 36px;
	display: inline-block;
}
.headline-elem, .headline-elem a {
	text-decoration: none;
	font-weight: 600;
	color: #fff;
	outline: none;
	height: 100%;
	line-height: 36px;
	align-items: center;
}
.headline-elem a:hover {
	color: #bdbdbd;
}
.headline-elem {
	margin-right: 12px;
	height: 100%;
}
.partitions {
	justify-content: space-between;
	display: flex;
	height: 100%;
}
.footer {
	height: 100px;
	background-color: #e0e0e0;
	left: 0;
	right: 0;
	bottom: 0;
	flex: 0 0 auto;
}
.content {
	padding-top: 60px;
	flex: 1 0 auto;
	padding-bottom: 30px;
}
.column {
	width: 700px;
	padding-left: calc((100vw - 700px) / 2);
	white-space: pre-line;
}
.mini-column {
	margin-top: 10px;
	margin-right: 12px;
	width: 200px;
}
.account-settings {
	float: right;
	margin-right: 16px;
	line-height: 36px;
}
.paper-list {
	border-radius: 2px;
	/*box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);*/
	box-shadow:0px 0px 41px 0px rgba(0,0,0,0.26);
	-webkit-box-shadow:0px 0px 41px 0px rgba(0,0,0,0.26);
	-moz-box-shadow:0px 0px 41px 0px rgba(0,0,0,0.26);
	padding: 12px;
}
.login-window {
	width: 400px;
	height: 400px;
	position: fixed;
	top: calc((100vh - 400px) / 2);
	left: calc((100vw - 400px) / 2);
}
.text-field {
	background-color: #fff;
	background-position: right 8px center;
	background-repeat: no-repeat;
	border: 1px solid #d1d5da;
	border-color: rgb(209, 213, 218);
	border-radius: 2px;
	color: #24292e;
	font-size: 14px;
	line-height: 20px;
	min-height: 34px;
	outline: none;
	padding: 6px 8px;
	vertical-align: middle;
	box-sizing: border-box;
	width: 100%;
}
label {
	font-size: 14px;
	font-weight: 600;
	display: block;
	margin-bottom: 7px;
}
.confirm-button {
	width: 100;
	border-radius: 2px;
	background-color: #28a745;
	color: #fff;
	border: none;
	width: 100%;
	box-sizing: border-box;
	height: 34px;
}
.red-border {
	border-color: #c62828 !important;
}
.red-text {
	color: #c62828 !important;
}
.profile-pic {
	width: 36px;
	height: 36px;
	background-size: cover;
	vertical-align: middle;
	border-radius: 50%;
}
.no-padding {
	padding: 0 !important;
}
.no-border-bottom {
	border-bottom: none !important;
}
.post {
	padding: 12px;
	border-bottom: #d0d0d0 1px solid;
	cursor: pointer;
}
.post:hover {
	background-color: #f5f7fa;
}
.post-title {
	margin-bottom: 12px;
}
.post-content {
	margin-bottom: 12px;
}
.bugtracker-window-title {
	padding: 12px;
	border-bottom: #d0d0d0 1px solid;
}
.right-hand-side {
	float: right;
}
.left-hand-side {
	float: left;
}
.dark-text {
	color: #24292e;
}
.incorrect-notification-container {
	width: 100%;
	margin-bottom: 15px;
	margin-top: 7px;
}
.mr10px {
	margin-right: 10px;
}
.left-part {
	width: 250px;
}
.right-part {
	width: 300px;
}
.w100 {
	box-sizing: border-box;
	width: 100%;
}
.no-margin-bottom {
	margin-bottom: 0 !important;
}
.textarea {
	resize: vertical;
	width: 490px;
	min-height: 150px;
}
.paper-head {
	background-color: #f5f7fa;
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
	padding: 12.5px 12px;
	font-size: 16px;
	border-bottom: #d0d0d0 1px solid;
	height: 55px;
	box-sizing: border-box;
	line-height: 30px;
}
.p12 {
	padding: 12px;
}
.button-red {
	padding: 7px 16px 8px;
	margin: 0;
	font-size: 12.5px;
	display: inline-block;
	zoom: 1;
	cursor: pointer;
	white-space: nowrap;
	outline: none;
	/*vertical-align: top;*/
	line-height: 15px;
	text-align: center;
	text-decoration: none;
	background: none;
	background-color: #c62828;
	color: #fff;
	border: 0;
	border-radius: 4px;
	box-sizing: border-box;
}
.paper-foot {
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	padding: 12px;
	font-size: 16px;
	border-top: #d0d0d0 1px solid;
	height: 30px;
	line-height: 30px;
}
.block {
	display: block !important;
}
span.gray {
	color: #656565;
}
.notification-window {
	min-height: 300px;
	line-height: 300px;
	text-align: center;
}
.m12b {
	margin-bottom: 12px;
}