* {
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
	outline: none;
}
body, html {
	padding: 0;
	height: 100%;
	margin: 0;
}
.wrapper {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
}
header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 60px;
	background-color: #c62828;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	z-index: 10;
}
span {
	color: #fff;
}
.headline-wrapper {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 36px;
}
.headline-elements-container {
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 12px;
	padding-bottom: 12px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex: 1 1 auto;
	font-size: 16px;
	justify-content: space-between;
	align-items: center;
	height: 36px;
	display: inline-block;
}
.headline-elem, .headline-elem a {
	text-decoration: none;
	font-weight: 600;
	color: #fff;
	outline: none;
	height: 100%;
	line-height: 36px;
	align-items: center;
}
.headline-elem a:hover {
	color: #bdbdbd;
}
.headline-elem {
	margin-right: 12px;
	height: 100%;
}
.partitions {
	justify-content: space-between;
	display: flex;
	height: 100%;
}
.footer {
	height: 100px;
	background-color: #e0e0e0;
	left: 0;
	right: 0;
	bottom: 0;
	flex: 0 0 auto;
}
.content {
	padding-top: 60px;
	flex: 1 0 auto;
	padding-bottom: 30px;
}
.column {
	width: 700px;
	padding-left: calc((100vw - 700px) / 2);
	/*white-space: pre-line;*/
	padding-top: 15px;
}
.mini-column {
	margin-top: 10px;
	margin-right: 12px;
	width: 200px;
}
.account-settings {
	float: right;
	margin-right: 16px;
	line-height: 36px;
	padding-top: 12px;
	padding-bottom: 12px;
	max-height: 60px;
	box-sizing: border-box;
	padding-left: 12px;
	cursor: pointer;
}
.account-settings:hover {
	background-color: #b02121;
}
.paper-list {
	border-radius: 2px;
	background-color: #fff;
	/*box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);*/
	box-shadow:0px 0px 41px 0px rgba(0,0,0,0.26);
	-webkit-box-shadow:0px 0px 41px 0px rgba(0,0,0,0.26);
	-moz-box-shadow:0px 0px 41px 0px rgba(0,0,0,0.26);
	padding: 12px;
}
.login-window {
	width: 400px;
	position: fixed;
	top: calc((100vh - 270px) / 2);
	left: calc((100vw - 400px) / 2);
}
.text-field {
	background-color: #fff;
	background-position: right 8px center;
	background-repeat: no-repeat;
	border: 1px solid #d1d5da;
	border-color: rgb(209, 213, 218);
	border-radius: 2px;
	color: #24292e;
	font-size: 14px;
	line-height: 20px;
	min-height: 34px;
	outline: none;
	padding: 6px 8px;
	vertical-align: middle;
	box-sizing: border-box;
	width: 100%;
}
label {
	font-size: 14px;
	font-weight: 600;
	display: block;
	margin-bottom: 7px;
}
.confirm-button, .cancel-button {
	width: 100;
	border-radius: 2px;
	background-color: #28a745;
	color: #fff;
	border: none;
	width: 100%;
	box-sizing: border-box;
	height: 34px;
}
.red-border {
	border-color: #c62828 !important;
}
.red-text {
	color: #c62828 !important;
}
.profile-pic {
	width: 36px;
	height: 36px;
	background-size: cover;
	vertical-align: middle;
	border-radius: 50%;
}
.no-padding {
	padding: 0 !important;
}
.no-border-bottom {
	border-bottom: none !important;
}
.post {
	padding: 12px;
	border-bottom: #d0d0d0 1px solid;
	cursor: pointer;
}
.post:hover {
	background-color: #f5f7fa;
}
.post-title {
	margin-bottom: 12px;
}
.post-content {
	margin-bottom: 12px;
}
.bugtracker-window-title {
	padding: 12px;
	border-bottom: #d0d0d0 1px solid;
}
.right-hand-side {
	float: right;
}
.left-hand-side {
	float: left;
}
.dark-text {
	color: #24292e;
}
.incorrect-notification-container {
	width: 100%;
	margin-bottom: 15px;
	margin-top: 7px;
}
.mr10px {
	margin-right: 10px;
}
.left-part {
	width: 250px;
}
.right-part {
	width: 300px;
}
.w100 {
	box-sizing: border-box;
	width: 100%;
}
.no-margin-bottom {
	margin-bottom: 0 !important;
}
.textarea {
	resize: vertical;
	width: 490px;
	min-height: 150px;
}
.paper-head {
	background-color: #f5f7fa;
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
	padding: 12.5px 12px;
	font-size: 16px;
	border-bottom: #d0d0d0 1px solid;
	height: 55px;
	box-sizing: border-box;
	line-height: 30px;
}
.p12 {
	padding: 12px;
}
.button-red {
	padding: 7px 16px 8px;
	margin: 0;
	font-size: 12.5px;
	display: inline-block;
	zoom: 1;
	cursor: pointer;
	white-space: nowrap;
	outline: none;
	/*vertical-align: top;*/
	line-height: 15px;
	text-align: center;
	text-decoration: none;
	background: none;
	background-color: #c62828;
	color: #fff;
	border: 0;
	border-radius: 4px;
	box-sizing: border-box;
}
.paper-foot {
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	padding: 12px;
	font-size: 16px;
	border-top: #d0d0d0 1px solid;
	height: 30px;
	line-height: 30px;
}
.block {
	display: block !important;
}
span.gray {
	color: #656565;
}
.notification-window {
	min-height: 300px;
	line-height: 300px;
	text-align: center;
}
.m12b {
	margin-bottom: 12px;
}
.signuplink {
	text-decoration: none !important;
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 40px;
    color: #202020;
}
.signuplink a {
	color: #33a;
}
#uriInput {
	margin-bottom: 12px;
}
.cancel-button {
	background-color: #c62828;
	margin-top: 12px;
}
.hidden {
	display: none !important;
}
.user-link {
	color: #c62828;
}
.top-profile-arrow {
	background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='50' fill='%23FFFFFF'><polygon points='0,0 20,0 50,30 80,0 100,0 50,50'/></svg>") no-repeat;
	background-position-x: 0%;
	background-position-y: 0%;
	background-position: right 0;
	display: inline-block;
	background-size: contain;
	width: 16px;
	height: 8px;
	margin-left: 6px;
}
.top-profile-menu {
	position: fixed;
	min-width: 150px;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #fff;
	border: 1px solid #d0d0d0;
	border-radius: 3px;
	z-index: 11;
	top: 70px;
	right: 40px;
	display: none;
	transition: opacity 100ms linear, top 100ms linear, visibility 100ms linear;
	box-shadow:0px 0px 41px 0px rgba(0,0,0,0.26);
	-webkit-box-shadow:0px 0px 41px 0px rgba(0,0,0,0.26);
	-moz-box-shadow:0px 0px 41px 0px rgba(0,0,0,0.26);
}
.top-profile-menu::before {
	content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='8' fill='%23000'><polygon fill='%23D0D0D0' points='0,8 8,0 16,8'/><polygon fill='%23FFFFFF' points='1,8 8,1 15,8'/></svg>");
	width: 16px;
	height: 8px;
	z-index: 3;
	display: block;
	position: fixed;
	top: 56.4px;
	right: 65px;
	transition: opacity 100ms linear, top 100ms linear, visibility 100ms linear;
}
.dblock {
	display: block !important;	
}
a.top-profile-menu-item {
	color: black;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 4px;
	padding-bottom: 4px;
	width: 100%;
	font-size: 14px;
	line-height: 21px;
	height: 29px;
	display: block;
	box-sizing: border-box;
	text-decoration: none;
}
a.top-profile-menu-item:hover {
	color: white;
	background-color: #0366d6;
}
div.top-profile-menu-divider {
	height: 1px;
	background-color: #d0d0d0;
	width: 100%;
	margin-top: 3px;
	margin-bottom: 3px;
}
.top-user-name {
	margin-right: 10px;
	cursor: pointer;
}
.top-stuff-container {
	float: right;
	margin-right: 16px;
	line-height: 36px;
	padding-top: 12px;
	padding-bottom: 12px;
	max-height: 60px;
	box-sizing: border-box;
	padding-left: 12px;
}
.m24t {
	margin-top: 24px;
}
.comment-posting-form {
	border: none;
	border-top: 1px solid #d0d0d0;
	width: 100%;
	resize: vertical;
	box-sizing: border-box;
	padding: 12px;
	min-height: 70px;
	margin: 0;
}




.dropdown-content-selector {
	display: none;
	position: absolute;
	right: 0;
	width: 300px;
	z-index: 1;
	border: 1px solid #d3d9de;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	box-sizing: border-box;
	/*margin-top: -1px;*/
	background-color: #fff;
}
.dropdown-arrow {
	background: url(/work/ui/dropdown_arrow.png) 0 50%;
	position: absolute;
	right: 11px;
	top: 12px;
	width: 11px;
	height: 7px;
}
.dropdown-elem {
	text-decoration: none;
	display: block;
	height: 30px;
	min-height: 30px;
	border-radius: 2px;
	padding-left: 8px;
	box-sizing: border-box;
	align-items: center;
	line-height: 30px;
	font-size: 14px;
}
.dropdown-elem:hover {
	background-color: #e7edf2;
}
.dropdown-act-select:hover .dropdown-content-selector, .dropfield:focus + .dropdown-content-selector {
	display: block; 
	margin-top: calc(-50% - 60px);
}
.dropfield {
	color: #000;
	padding-left: 8px;
	background-color: #fff;
	border: 1px solid #d3d9de;
	padding-right: 12px;
	line-height: 30px;
	height: 30px;
	font-size: 14px;
	cursor: pointer;
	border-radius: 2px;
	font-weight: 500;
	width: 300px;
	box-sizing: border-box;
}
.dropdown-act-select {
	position: relative;
	display: inline-block;
	height: 30px;
}



.comment {
	position: relative;
	padding: 12px;
	border-bottom: 1px solid #d0d0d0;
}
.comment-profile-photo-container {
	height: 36px;
	width: 36px;
	position: absolute;
}
.profile-photo {
	border-radius: 50%;
	width: 100%;
	height: 100%;
}
.comment-content {
	display: inline-block;
	margin-left: 48px;
	min-height: 36px;
}
.comment-user-link {
	display: block;
	color: #c62828;
	text-decoration: none;
}
.comment-user-link:hover {
	text-decoration: underline;
}
.red {
	/*Alert!*/
	color: #c62828;
}
#typeSelector {
	color: #000;
}
.report-new-status {
	display: table;
	padding: 4px;
	border-radius: 4px;
	background-color: #e8a9a9;
}
div:last-child {
	border-bottom: none;
}